# Python
backend/venv/
__pycache__/
*.pyc

# SQLite/runtime data
*.db
*.sqlite
*.sqlite3

# Env/secrets
.env
.env.*

# Angular/Node
node_modules/
dist/
.angular/

# Mac
.DS_Store

# TypeScript build cache
*.tsbuildinfo